# gitignore for Git repo

**/*.html

# Python object files
*.py[cod]

# vim swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# vim temporary files
*~

# tmp dir
tmp/

# Antora working directories
node_modules/
build/
public/
